[Unit]
Description=Restart OpenRGB after suspend
After=suspend.target

[Service]
Type=simple
Environment="WAYLAND_DISPLAY=wayland-1"
ExecStartPre=-/usr/bin/pkill -x openrgb
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/openrgb --startminimized -p Ares.orp

[Install]
WantedBy=suspend.target
