[submodule ".config/nvim"]
	path = nvim
	url = https://github.com/Samemaru07/Neovim-setup_WSL2.git
[submodule "eww/eww-keycast"]
	path = eww/eww-keycast
	url = git@github.com:Samemaru07/eww-keycast.git
	branch = develop
